# Instagram Basic Display API
# Obtenha esses valores em: https://developers.facebook.com/apps/

# Token de acesso de longa duração (dura 60 dias)
VITE_INSTAGRAM_ACCESS_TOKEN=seu_token_aqui

# ID do usuário do Instagram
VITE_INSTAGRAM_USER_ID=seu_user_id_aqui
